.contact {
  padding: 9.375rem 1.25rem;
}
form {
  width: 100%;
}

textarea, input {
  width: 100%;
  padding: 0.875rem;
  padding-left: 1.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  font-size: 0.8125rem;
  background: transparent;
  color: #495057;
}

textarea:focus,
input:focus {
  outline: 0;
}

.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact__name {
  padding-right: 0.9375rem;
}

.contact__email {
  padding-left: 0.9375rem;
}

.contact-btn {
  margin-top: 1.6rem;
}

@media only screen and (max-width: 991px) {
  .contact__wrapper {
    display: block;
  }
  .half-row {
    width: 100%;
    padding: 0;
  }

}