.contact {
  padding: 150px 20px;
}
.contact__wrapper {
  display: flex;
}
form {
  width: 70%;
}

textarea, input {
  width: 100%;
  padding: 14px;
  padding-left: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  font-size: 13px;
  background: transparent;
  color: #495057;
}

textarea:focus,
input:focus {
  outline: 0;
}

.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact__name {
  padding-right: 15px;
}

.contact__email {
  padding-left: 15px;
}

.contact-btn {
  margin-top: 25px;
}

.contact__info {
}
.contact__info-list {
  list-style: none;
}
.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 35px;
}

i {
  margin-right: 20px;
}

.contact__address p {
  margin: 0;
}

.address-country {
  font-size: 17px;
  color: #05364d;
}

.address-street {
  font-size: 15px;
  color: #999;
}