.contact {
  padding: 9.375rem 1.25rem;
}
.contact__wrapper {
  display: flex;
}
form {
  width: 70%;
}

textarea, input {
  width: 100%;
  padding: 0.875rem;
  padding-left: 1.125rem;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  font-size: 0.8125rem;
  background: transparent;
  color: #495057;
}

textarea:focus,
input:focus {
  outline: 0;
}

.half-row {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.contact__name {
  padding-right: 0.9375rem;
}

.contact__email {
  padding-left: 0.9375rem;
}

.contact-btn {
  margin-top: 1.6rem;
}

.contact__info-list {
  list-style: none;
}

.contact-list__item {
  display: flex;
  align-items: center;
}

.contact-list__item:not(:last-child) {
  margin-bottom: 2.1875rem;
}

i {
  margin-right: 1.25rem;
}

.contact__address p {
  margin: 0;
}

.address-country {
  font-size: 1.0625rem;
  color: #05364d;
}

.address-street {
  font-size: 0.9375rem;
  color: #999;
}